<div style="max-width: 600px; margin: auto; background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">

  <h1 style="color: #4A90E2; text-align: center;">
    <p> Hey there <%= @name %>!</p>
  </h1>
  
  <p style="font-size: 18px; font-weight: bold; text-align: center;"> Thank for joining the fleet of new chefs at Pantry Pilot <%= @name %> </p>
  
  <p style="text-align: justify; line-height: 1.6;">Recipes are pretty cool right? What's even cooler is sharing them with your friends! 
    Don't forget to log in so you can use all the features PantryPilot has to offer!
  </p>

  <h4 style="border-bottom: 2px solid #4A90E2; padding-bottom: 5px;"> New Features coming soon: </h4>

  <p>
    <ul style="list-style: none; padding-left: 0;">
      <li style="background: #f9f9f9; margin-bottom: 5px; padding: 10px; border-radius: 4px; box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);">
        Upload pictures of your recipes!
      </li>
      <li style="background: #f9f9f9; margin-bottom: 5px; padding: 10px; border-radius: 4px; box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);">
        Update styling of our website for ease of navigation
      </li>
      <li style="background: #f9f9f9; margin-bottom: 5px; padding: 10px; border-radius: 4px; box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);">
        A pantry feature where you can upload ingredients you want to use soon
      </li>
    </ul>
  </p>

</div>