---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=5ba91f3cbeb34d47a5fc0366863104b8&query=5%C2%A2kljajs%3Bldk%E2%81%84%E2%82%AC%230
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.0'
      X-Api-Quota-Used:
      - '3.2'
      X-Api-Quota-Left:
      - '146.8'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"offset":0,"number":10,"totalResults":0}'
  recorded_at: Thu, 02 Nov 2023 13:51:28 GMT
recorded_with: VCR 6.2.0
