---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=f3b99c9bb611436f915a5c0ce00fe9b0&query=chicken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.1'
      X-Api-Quota-Used:
      - '70.6'
      X-Api-Quota-Left:
      - '79.4'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":637876,"title":"Chicken 65","image":"https://spoonacular.com/recipeImages/637876-312x231.jpg","imageType":"jpg"},{"id":716342,"title":"Chicken
        Suya","image":"https://spoonacular.com/recipeImages/716342-312x231.jpg","imageType":"jpg"},{"id":638420,"title":"Chicken
        Wings","image":"https://spoonacular.com/recipeImages/638420-312x231.jpg","imageType":"jpg"},{"id":638308,"title":"Chicken
        Satay","image":"https://spoonacular.com/recipeImages/638308-312x231.jpg","imageType":"jpg"},{"id":638086,"title":"Chicken
        Fingers","image":"https://spoonacular.com/recipeImages/638086-312x231.jpg","imageType":"jpg"},{"id":638174,"title":"Chicken
        Lo Mein","image":"https://spoonacular.com/recipeImages/638174-312x231.jpg","imageType":"jpg"},{"id":667707,"title":"chicken
        marbella","image":"https://spoonacular.com/recipeImages/667707-312x231.jpg","imageType":"jpg"},{"id":638257,"title":"Chicken
        Porridge","image":"https://spoonacular.com/recipeImages/638257-312x231.jpg","imageType":"jpg"},{"id":637999,"title":"Chicken
        Burritos","image":"https://spoonacular.com/recipeImages/637999-312x231.jpg","imageType":"jpg"},{"id":638125,"title":"Chicken
        In A Pot","image":"https://spoonacular.com/recipeImages/638125-312x231.jpg","imageType":"jpg"}],"offset":0,"number":10,"totalResults":633}'
  recorded_at: Tue, 07 Nov 2023 02:48:57 GMT
recorded_with: VCR 6.2.0
