---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=f3b99c9bb611436f915a5c0ce00fe9b0&query=31231nfjhaslkjfas82
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.0'
      X-Api-Quota-Used:
      - '71.6'
      X-Api-Quota-Left:
      - '78.4'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"offset":0,"number":10,"totalResults":0}'
  recorded_at: Tue, 07 Nov 2023 02:48:57 GMT
recorded_with: VCR 6.2.0
