---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=5ba91f3cbeb34d47a5fc0366863104b8&query=31231nfjhaslkjfas82
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.0'
      X-Api-Quota-Used:
      - '17.0'
      X-Api-Quota-Left:
      - '133.0'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"offset":0,"number":10,"totalResults":0}'
  recorded_at: Sat, 04 Nov 2023 01:09:10 GMT
recorded_with: VCR 6.2.0
