---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/99999999999999/information?apiKey=5ba91f3cbeb34d47a5fc0366863104b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
    body:
      encoding: ASCII-8BIT
      string: '<html><head><title>Apache Tomcat/6.0.37 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 404 - Not Found</h1><HR size="1" noshade="noshade"><p><b>type</b> Status
        report</p><p><b>message</b> <u>Not Found</u></p><p><b>description</b> <u>The
        requested resource is not available.</u></p><HR size="1" noshade="noshade"><h3>Apache
        Tomcat/6.0.37</h3></body></html>'
  recorded_at: Thu, 02 Nov 2023 18:15:48 GMT
recorded_with: VCR 6.2.0
